.about-bg {
  background: url("../../image/details/top-right.svg") no-repeat top 40px right
      40px,
    url("../../image/details/bottom-left.svg") no-repeat bottom 40px left 40px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
  padding: 160px 220px;
}

.about-img img {
  border-radius: 50%;
  max-width: 355px;
}

.quem-sou h2 {
  margin-bottom: 34px;
}

strong {
  color: var(--cor-10);
}

@media (max-width: 950px) {
  .about-bg {
    background: none;
  }
  .about {
    flex-flow: column;
    gap: 57px;
    padding: 100px;
  }

  .about-img img {
    max-width: 355px;
  }

  .quem-sou h2 {
    margin-bottom: 17px;
  }
}

@media (max-width: 650px) {
  .about-img img {
    max-width: 280px;
  }
}
