.project-bg {
  background: url("../../img/dec/bottom-left.svg") no-repeat bottom 40px left
      40px,
    url("../../img/dec/top-right.svg") no-repeat top 140px right 40px,
    var(--cor-11);
  padding: 160px 220px;
}

.project h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 26px;
}

.project h2::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 8px;
  background: var(--cor-p1);
}

.project-bg img {
  width: 100%;
  display: block;
}

.project-list ul {
  display: flex;
  margin-top: 60px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 699px;
  border-radius: 10px;
  margin-right: 40px;

  background: var(--cor-12);
}

.project-card p {
  margin: 0 26px;
}

.project-card img {
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
}

.img-card1 {
  background: url(/assets/image/animais.png) no-repeat top center;
  background-size: cover;
  margin-top: 24px;
  max-width: 508px;
  height: 386px;
}
.img-card2 {
  background: url(/assets/image/bicicleta.png) no-repeat top center;
  background-size: cover;
  margin-top: 24px;
  max-width: 508px;
  height: 386px;
}

.skills-card {
  margin: 0 26px;
}
.card {
  display: inline-block;
  background: var(--cor-10);
  border-radius: 5px;
  margin-right: 12px;
  padding: 10px;
}

.font-1-m-b {
  font-size: 2rem;
}
