.project-bg {
  background: var(--cor-11);
}
.project {
  padding: 100px 0;
}

.project-content h1 {
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  display: flex;
  width: 500px;
  height: 680px;
  margin-top: 30px;
  border-radius: 15px;
  background: var(--cor-12);
}

.projects {
  padding: 30px;
}
.projects h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}
.projects h2::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 8px;
  background: var(--cor-p1);
}

.img-container {
  width: 450px;
  height: 356px;
  overflow: hidden;
  border-radius: 10px;
}
.img-container img {
  width: 100%;
}

.skills-card {
  display: flex;
  margin-top: 53px;
}

.card {
  display: inline-block;
  background: var(--cor-10);
  border-radius: 5px;
  margin-right: 12px;
  padding: 10px;
}

.font-1-m-b {
  font-size: 2rem;
}

@media (max-width: 950px) {
  .project {
    padding: 50px 0;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .project-card {
    width: 350px;
    height: 100%;
    border-radius: 10px;
  }

  .projects {
    padding: 25px;
  }

  .img-container {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
  }

  .font-1-m-b {
    font-size: 1.3rem;
  }

  .font-2-m {
    font-size: 1rem;
  }

  .projects h2::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 6px;
    background: var(--cor-p1);
  }
}
